textarea {
    resize: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
}

.component, html {
    background: #ededed;
}

.row-buffer {
    margin-top: 10px;
}